body {
	margin: 0;
	padding: 0 5% 2.875em;
	font-family: Omnes, 'Helvetica Neue', Arial, Helvetica;
	font-size: 14px;
	font-size: 0.875rem;
	background-color: #f6f6f6;
	color: #000;
}

/* Elements */

hr {
	height: 0;
	margin: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-left: none;
	border-right: none;
}

h2 {
	margin: 5px 0;
}

p {
	line-height: 1.285714286;
	margin: 0 0 1.285714286em;
}

b {
	font-weight: 500;
}

/* Links */

a {
	text-decoration: none;
}
a.answer {
	color: #999;
}
a.yes:hover,
a.yes:focus {
	color: #fff;
	background-color: #abe71a;
}
a.no:hover,
a.no:focus {
	color: #fff;
	background-color: #f4762a;
}
a.skip:hover,
a.skip:focus {
	color: #fff;
	background-color: #1ac3e7;
}
a.next {
	color: #fff;
	background-color: #1ac3e7;
	background-image: url('img/arrow-right-white.png');
	background-position: 95%;
	background-repeat: no-repeat;
}
a.more {
	background-image: url('img/arrow-right-grey.png');
	background-position: 95%;
	background-repeat: no-repeat;
}
a.skip.more:hover,
a.skip.more:focus {
	background-image: url('img/arrow-right-white.png');
}
a.next + hr {
	border-top-color: #16a6c5;
}

/* Font sizes */

.heading {
	font-size: 18px;
	font-size: 1.125rem;
}
.vital {
	font-weight: 200;
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.2;	/* 36px */
}
.important {
	font-weight: 200;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.valuable {
	font-weight: 200;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.3333;
}

/* Padding */

.full {
	display: block;
	margin-left: -5.555%;
	margin-right: -5.555%;
}
.padded {
	padding-left: 5%;
	padding-right: 5%;
}
.buffered {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.sectioned {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}

/* Page elements */

.kicker {
	text-transform: uppercase;
	font-size: 12px;
	font-size: .75rem;
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.answers {
	width: 100%;
	display: table;
}
.answers .answer {
	width: 50%;
	background-color: #fff;
	display: table-cell;
	text-align: center;
	border-right: 1px solid #ddd;
}
.answers .answer:last-child {
	border-right: none;
}

.figure {
	float: left;
	max-width: 45%;
	margin-right: 5%;
}
.figure-alt {
	float: right;
	margin-right: 0;
	margin-left: 5%;
}

.tally {
	line-height: 1;
}
.tally .voter {
	padding-top: 12px;
	padding-top: 0.75rem;
	padding-bottom: 12px;
	padding-bottom: 0.75rem;
	display: inline-block;
	width: 75%;
}
.tally .vote {
	padding-top: 12px;
	padding-top: 0.75rem;
	padding-bottom: 12px;
	padding-bottom: 0.75rem;
	display: inline-block;
	width: 25%;
	text-align: right;
	font-weight: 500;
	position: relative;
}
.tally .vote::after {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	position: absolute;
	bottom: 0;
	right: 0.5em;
}
.tally .yes::after {
	border-bottom-color: #abe71a;
}
.tally .no::after {
	border-bottom-color: #f4762a;
}
.yes.vote {
	color:  #abe71a;
}
.no.vote {
	color:  #f4762a;
}
.tally .spark {
	float: left;
	display: inline-block;
	height: 1px;
	border-bottom: 1px solid #fff;
}
.tally .spark.yes {
	background-color: #abe71a;
}
.tally .spark.no {
	background-color: #f4762a;
}

.tubemap {
	margin-top: 40px;
	margin-top: 2.5rem;
	border-top: 5px solid #000;
	position: relative;
	min-height: 54px;
}

.tubemap li {
	position: absolute;
	left: 5%;
	margin-left: -10px;
	text-align: center;
	list-style: none;
	top: -28px;
}
.tubemap .tubemarker {
	margin: 0 10px 5px;
	overflow: hidden;
	display: block;
	width: 54px;
	height: 54px;
	background-color: #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.tubemap .disagreement {
	display: block;
	margin-top: 3px;
}
.tubemap a {
	color: #000;
	text-decoration: none;
}
.tubemap li img {
	margin: 3px 3px;
	background-color: #fff;
	padding: 2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	width: 44px;
	height: 44px;
}
.suggested {
	clear: both;
	overflow: hidden;
}

.suggested .figure {
	margin-left: -30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 96px;
	height: 96px;
	overflow: hidden;
	padding: 2px;
	background-image: url(../images/yepnope.png);
	background-position: 50% 50%;
}
.suggested .figure-alt {
	margin-left: 0;
	margin-right: -30px;
}
.suggested .figure img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 96px;
	height: 96px;
}

@media screen and (min-width: 50em) {
	.suggested .figure {
		margin-left: -60px;
		width: 192px;
		height: 192px;
		padding: 4px;
	}
	.suggested .figure img {
		width: 192px;
		height: 192px;
	}
	.suggested .figure-alt {
		margin-right: -60px;
	}
}

.sitenav {
	border-top: 1px solid #ddd;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.sitenav a {
	text-indent: -999em;
	display: inline-block;
	width: 25px;
	height: 25px;
	overflow: hidden;
}
.sitenav .dashboard {
	background-image: url('/img/dashboard.png');
}
.sitenav .settings {
	background-image: url('img/cog.png');
	position: relative;
	float: right;
	margin-right: 10%;
}
.inverted {
	background-color: #333;
	color: #f6f6f6;
}
.inverted .kicker {
	color: #b8b8b8;
}
.inverted a {
	color: #f6f6f6;
}

/* Structure */

[role="navigation"] {
	width: 100%;
	position: fixed;
	bottom: 0;
}